body{
    width: 100%;
    height: 100vh;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    height: 60%;
    width: 100%;
    background-image: url(/img/Image-empty-state.jpg);
    background-position: center;
    background-size: cover;
}
.portada{
    height: 70%;
    width: 100%;
    position: relative;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.808), rgba(0, 0, 0, 0));
}
nav.categorias{

    height: 30%;
    width: 100% auto;
    background-color: rgb(167, 169, 169);
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 30;
    overflow: hidden;
    overflow: scroll;
    overflow-y: hidden;
    a :link{
        color: red;
    }
    a :visited{
        color: violet;
    }
    a :hover{
        color: black;
    }

}
a.btn-cat{
    height: 100px;
    flex: 0 0 85px;
    background-color: rgb(167, 169, 169);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2;
}
.saludo{
    font-size: 25px;
    position: absolute;
    left: 5%;
    bottom: 20%;
    transition: all 2s ease-in-out;
}

.buscador{
    display: flex;
    position: absolute;
    bottom: -20px;
    left: 5%;
    height: 40px;
    width: 90%;
    margin: auto;
    background-color: brown;
    box-shadow: 0 10px 15px -5px black;
    overflow: hidden;
}
.icono{
    height: 100%;
    width: 40px;
    background-color: rgb(105, 105, 105);
    display: grid;
    place-items: center;
}
input[type=search]{
    padding: 10px;
    border: none;
    outline: none;
    width: calc(100% - 80px);
}

input[type=submit]{
    border: none;
    outline: none;
    width: 40px;
    background-color: white;
    cursor: pointer;
}
input[type=submit]:hover{
    transform: scale(1.2);
}
/* width */
::-webkit-scrollbar {
    height: 5px;
  }
 
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
 
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292929a2;
    border-radius: 3px;
  }
 
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292929;
  }
.f30{
    font-size: 30pt !important;
}
main{
    background-color: yellow;
    height: 100px auto;
    width: 100%;
    padding: 10px;
    .restaurantes{
        height: 100px auto;
        width: 100%;
        background-color:bisque;
        display: flex;
        gap: 20px;
        flex-direction: column;
        .resto{
            position: relative;
            width: 100%;
            flex: 0 0 160px ;
            display: flex;
            background-color: chocolate;
            
            .imagen_resto{
                position: absolute;
                height: 100%;
                width: 45%;
                background-image: url(/img/Image-empty-state.jpg);
                background-size: cover;
                float: left;
                z-index: 0;
            }
            .desc_resto{
                display: flex;
                flex-direction: column;
                position: absolute;   
                width: 60%;
                height: 100%;
                right: 0;
                border-radius: 0 0 0 25px;
                background-color: rgb(255, 255, 255);
                float: right;
                z-index: 1;
            }
        }
    }
    
    
}

